*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins;
}

body{
  background:#ffffff;
  color:#111;
  line-height:1.6;
}

/* HEADER */
.header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 5%;
  background:#fff;
  border-bottom:1px solid #eee;
  z-index:1000;
}

.logo-section{
  display:flex;
  align-items:center;
  gap:10px;
}

.logo{
  width:40px;
  height:40px;
  background:#0057b8;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
}

/* NAVBAR */
.navbar{
  display:flex;
  gap:20px;
}

.navbar a{
  text-decoration:none;
  color:#111;
}

/* MOBILE MENU */
.menu-btn{
  display:none;
  font-size:22px;
}

/* HERO */
.hero{
  padding:120px 5% 60px;
  background:#0057b8;
  color:white;
}

.hero h2{
  font-size:42px;
}

.hero-text{
  max-width:900px;
}

/* SECTIONS */
.section{
  padding:70px 5%;
}

.section h2{
  font-size:30px;
  margin-bottom:15px;
}

/* NEWS CLEAN LIST (NO CARDS) */
.news-item{
  display:flex;
  gap:20px;
  margin-bottom:25px;
  align-items:center;
}

.news-item img{
  width:250px;
  height:150px;
  object-fit:cover;
}

.news-item h3{
  margin-bottom:8px;
}

/* FORM */
form{
  max-width:600px;
  display:flex;
  flex-direction:column;
  gap:12px;
}

input,textarea{
  padding:12px;
  border:1px solid #ccc;
}

button{
  padding:12px;
  background:#0057b8;
  color:white;
  border:none;
}

/* FOOTER */
.footer{
  text-align:center;
  padding:25px;
  background:#0057b8;
  color:#fff;
}

/* RESPONSIVE */
@media(max-width:900px){

  .menu-btn{
    display:block;
  }

  .navbar{
    position:fixed;
    top:0;
    right:-300px;
    height:100vh;
    width:240px;
    background:#fff;
    flex-direction:column;
    padding:80px 20px;
    transition:0.3s;
    border-left:1px solid #eee;
  }

  .navbar.active{
    right:0;
  }

  .news-item{
    flex-direction:column;
    align-items:flex-start;
  }

  .news-item img{
    width:100%;
    height:auto;
  }

  .hero h2{
    font-size:28px;
  }
}
